{lib_dirs,["deps"]}.

{cover_enabled, false}.
{cover_print_enable, false}.

{eunit_opts, [ verbose ]}.

{erl_opts, [
  {i, "include"},
  debug_info,
  {src_dirs, ["src"]}
]}.

{clean_files, ["ebin_test/*", "ebin/"]}.

{deps, [
  {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
  {oauth, "1.2.*", {git, "git://github.com/tim/erlang-oauth.git", "HEAD"}}
]}.

